<br />
<table width="100%">
  <tr>
    <!-- Left adsense -->
    <td>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Git-Responsive-Left -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4621248074722027"
           data-ad-slot="4070338505"
           data-ad-format="autorelaxed"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
    <!-- Right adsense -->
    <td>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Git-Responsive-Right -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4621248074722027"
           data-ad-slot="8500538103"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
  </tr>
</table>
<br />
