<br />
<br />
<ul class="pager">
  {% if page.previous %}
  <li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous ({{ page.previous.title }})</a></li>
  {% else %}
  <li class="previous disabled"><a>&larr; Previous</a></li>
  {% endif %}
  {% if page.next %}
  <li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">Next ({{ page.next.title }}) &rarr;</a></li>
  {% else %}
  <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
</ul>
